:root {
    --background-color: #0D1B2A;
    --text-color: #E0E1DD;
    --button-color: #415A77;
}

body {
    background-color: var(--background-color);
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    color: var(--text-color);
}

header {
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    padding: 8px 16px;
}

.navbar-elements {
    display: flex;
}

h1 {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-size: 40px;
    margin: auto 64px auto 0;
}

.navbar-elements nav {
    margin: auto 0;

}

.navbar-elements a {
    text-decoration: none;
    color: inherit;
    margin: 0 16px 0 0;
}

.vertical-line {
    margin: auto 0;
}

main {
    padding-top: 16px;
}

footer {
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

footer a {
    text-decoration: none;
    margin: auto;
    color: inherit;
}

#carousel-home {
    margin: 0 auto;
    background-color: var(--button-color);
    width: 1786px;
    height: 784px;
    padding: 0 16px 0 16px;
    border-radius: 16px;
}

#carousel-home h2 {
    font-weight: 600;
    font-size: 40px;
    font-style: italic;
    color: var(--background-color);
}

#carousel-home-elements {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#home-card {
    position: relative;
    width: 65%;
    border-radius: 32px;
    overflow: hidden;
}

#home-card img {
    width: 100%;
}

#home-card-infos {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28%;
    height: 100%;
    top: 0;
    right: 0;
    padding: 0 8px;
    background-color: var(--background-color);
    box-shadow: 0 0 66px 88px var(--background-color);
}

#home-card-infos h3 {
    margin-bottom: 0;
    font-size: 40px;
}

#home-card-infos p {
    margin-bottom: 0;
    font-size: 25px;
    font-style: italic;
}

#home-card-button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 32px;
}

.movie-item {
    width: 240px;
    border-radius: 12px;
    margin-left: 32px;
    margin-bottom: 16px;
    min-height: 460px;
}

.movie-item-image {
    border-radius: 12px;
    margin: 0 0;
    transition: width 0.3s;
}

.movie-item-image:hover {
    width: 232px;
}

.movie-item-title {
    font-size: 20px;
    margin: 0;
}

.movie-item-date {
    font-size: 12px;
    margin: 0;
}

.explorer-movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 16px;
}

aside {
    float: left;
}


.details-movie-image{
    position: absolute;
    width: 100%;
    height: 400px;
    overflow: hidden;
    opacity: 50%;
}

.details-movie {
    position: relative;
    top: 175px;
}

.details-movie-infos {
    top: 100px;
    display: flex;
    padding: 32px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-termplate-rows: auto auto auto;
    grid-template-areas:
            "img title"
            "img info"
            "img synopsis"
            "img button"
}

.details-movie-infos img {
    grid-area: img;
    border-radius: 16px;
}

.details-movie-infos h2 {
    margin: 0 0 8px 0;
    grid-area: title;
    font-size: 40px;
    text-shadow: 1px 1px 4px var(--background-color);
}

.details-movie-infos div {
    margin: 0 0 16px 0;
    grid-area: synopsis;
}

.details-movie-infos h3 {
    font-size: 30px;
    text-shadow: 1px 1px 4px var(--background-color);
}

.details-movie-infos p {
    font-size: 25px;
    text-shadow: 1px 1px 4px var(--background-color);
}

.details-movie-specifics {
    margin: 0 0 16px 0;
    grid-area: info;
    font-size: 20px !important;
    font-style: italic;
}

.carousel-details-staff {
    margin-top: 256px;
}

.carousel-details-acteur {
    margin-top: 80px;
}


