:root {
    --background-color: #0D1B2A;
    --text-color: #E0E1DD;
    --button-color: #415A77;
}

body {
    background-color: var(--background-color);
    font-family: "Chakra Petch", serif;
    font-weight: 400;
    color: var(--text-color);
}

h1 {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-size: 40px;
    margin: auto 64px auto 0;
}

main {
    min-height: 1100px;
    padding-top: 16px;
    margin-bottom: 128px;
}

footer {
    background-color: rgba(0, 0, 0, 0.25);
    height: 128px;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

footer a {
    text-decoration: none;
    margin: auto;
    color: inherit;
}

aside {
    float: left;
}

.loading {
    position: absolute;
    top: 48%;
    right: 10px;
}


.movie-item {
    text-align: center;
    width: 240px;
    border-radius: 12px;
    margin-left: 32px;
    margin-bottom: 16px;
    min-height: 460px;
}

.movie-item2 {
    text-align: center;
    width: 240px;
    border-radius: 12px;
    margin-left: 16px;
}

.movie-item-image {
    border-radius: 12px;
    margin: 8px 0 12px 0;
    max-height: 330px;
    transition: scale 0.3s;
}

.movie-item-image:hover {
    scale: 1.1;
}

.movie-item-title {
    font-weight: 600;
    font-size: 22px;
    margin: 0 0 8px 0;
}

.movie-item-year {
    font-style: italic;
    font-size: 18px;
    margin: 0;
}

.explorer-movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 16px;
}

.carousel-details {
    margin-top: 80px;
}

#form-link-mdp {
    text-align: left;
    margin-bottom: 64px;
}

#form-link-sign {
    text-align: center;
}


.scroller button {
    font-size: 20px;
    color: inherit;
    background: inherit;
    padding: 16px 8px;
    width: 100%;
    text-align: left;
    display: flex;
    border: none;

}

.scroller button:hover {
    background-color: var(--background-color);
    cursor: pointer;
}


