:root {
    --background-color: #0D1B2A;
    --text-color: #E0E1DD;
    --button-color: #415A77;
}

body {
    background-color: var(--background-color);
}

header {
    font-family: "Chakra Petch", serif ;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
    padding: 16px 16px;
    color: var(--text-color);
}

.navbar-elements {
    display: flex;
}

header h1 {
    font-family: "Goldman", serif;
    font-weight: 700;
    font-size: 40px;
    margin: auto 64px auto 0;
}

.navbar-elements nav {
    margin: auto 0;

}

.navbar-elements a {
    text-decoration: none;
    color: inherit;
    margin: 0 16px 0 0;
}

.vertical-line {
    margin: auto 0;
}